
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-color: antiquewhite;
}

img {
    max-width: 10%;
    height: 20%;
    border: 2px solid gray;
    border-radius: 2rem;
}

header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
}

main {
    padding: 1em 10;
    text-align: center;
}

p {
    margin: 0 auto; /* Center-align the paragraphs */
    max-width: 60%; /* Adjust the width to your preference */
    padding: 10px;
    text-align: justify; /* Justify the text */
}

section {
    margin: 1em 0;
    text-align: center;
    margin-right: 5em;
}

a {
    margin: 5px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color: blue;
}

a:visited {
    color: purple;
}

a:hover {
    color: dodgerblue;
}

a:active {
    color: red;
}
ul li{
    margin-inline-start: 19%;
    text-align: justify;
}
ol li{
    margin-inline-start: 19%;
    text-align: justify;
}
h2 {
    margin-inline-start: 20%;
    text-align: justify;
}

footer {
    background-color: black;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}






























/* 
body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 10;
    background-color: antiquewhite;
    
}
img {
    max-width: 10%;
    height: 20%;
}
header {
    background-color: green;
    color: white;
    text-align: center;
    padding: 1em 0;
    
}

main {
    padding: 1em 10;
    text-align: center;
 

}
p {
    width: 50%;
    height: 10%;
    padding: 10px;
    text-align: center;
  
} 

section {
    margin: 1em 0;
    text-align: center;
    margin-right: 5em;
}

a {margin: 5px;
    display: inline-block;
    text-decoration: none;
    cursor: pointer;
    color:blue
}
a:visited{
    color: purple;
}
a:hover{
    color: dodgerblue;
}
a:active{
    color: red;
}
h2{
    text-align: center;
}



footer {
    background-color: #333;
    color: white;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    width: 100%;
    bottom: 0;
}  */
